.intl-tel-input.allow-dropdown input, .intl-tel-input.allow-dropdown input[type=text], .intl-tel-input.allow-dropdown input[type=tel]{
    height: 50px;
    width: 399px;
}
.iti-mobile .intl-tel-input .country-list {
    margin-left: 30%;
    margin-top: 30%;
    width: 320px;
    height: 430px;
  
}
.input-lightgray-border:focus {
    border-color: lightgray !important;
    box-shadow: 0 0 0 1px lightgray !important;
  }